include header

.main.col-xs-12.col-sm-9
  h1 Edit Profile

  hr

  p.bg-success.text-center(ng-show='!!message') {{message}}
  .col-xs-12
    h3.name {{app.raw.gender.startsWith('f') ? '♀' : '♂' }}
      | {{ toUpperCase(app.raw.name.first) }} {{ toUpperCase(app.raw.name.last) }}
      | (<a href='mailto:{{app.raw.email}}'>{{app.raw.email}}</a>)
    .col-sm-12.col-xs-6
      .col-sm-4
        h4 Year
        p.year {{app.raw.year == 'other' ? app.raw.yearOtherExplanation : app.raw.year}}
      .col-sm-4
        h4 Major
        p.major {{app.raw.major}}
      .col-sm-4
        h4 Seeking
        p {{ app.raw.seeking.fulltime && app.raw.seeking.internship ? 'Fulltime and/or Internship' : app.seeking.fulltime ? 'Fulltime' : 'Internship' }}
    .col-sm-12.col-xs-6(ng-show='isAdmin')
      .col-sm-4
        input(type='text', ng-model='edit.raw.year')
      .col-sm-4
        input(type='text', ng-model='edit.raw.major')
    .col-sm-12.col-xs-12
      p.international
        strong International student?
        {{app.international}}
        input(type='checkbox', ng-model='edit.raw.international', ng-show='isAdmin')
    .col-xs-12(ng-init='uploadedDoc = {}')
      p
        strong Resume
        br
        a(href='{{uploadedDoc.url || app.raw.resume.url || "javascript:void(0)"}}') {{uploadedDoc.filename || app.raw.resume.filename || 'None'}}
      button.btn.btn-success.btn-block(ng-click='pickFile()') Upload Resume
    .col-xs-12
      br
      button.btn.btn-danger.btn-block(ng-click='saveEdits()') Save Changes
