header.col-xs-12.col-sm-3
  img.logo(src='/img/EPIC-Logo-Primary-nosub.png')
  h2.text-center Startup Career Fair
  hr
  h2.text-center Talent Portal
  p.text-center.bg-success(ng-show='isAdmin')
    | admin mode!
  .top-fix(ng-hide='edit')
    p.text-center.alert.alert-info
      | You can use&nbsp;
      a(href='http://www.wikiwand.com/en/Regular_expression', target='_blank') regex
      |!
    .form-group(ng-init='search = {}')
      label.control-label(for='nameFilter') Name
      input.form-control(ng-model='search.name', type='text', placeholder='e.g; Andrew, A|B|C', id='nameFilter')
      br
      label.control-label(for='majorFilter') Major
      input.form-group.form-control(ng-model='search.major', type='text', placeholder='e.g.; CS|Comp, MBA|Econ', id='majorFilter')
      br
      label.control-label(for='yearFilter') Year
      input.form-group.form-control(ng-model='search.year', type='text', placeholder='e.g; grad, junior|senior')
      input(ng-model='include.raw.international', type='checkbox', checked, id='internationalFilter')
      label.control-label(for='internationalFilter') &nbsp;Exclude international students?
