header.col-xs-12.col-sm-3
  img.logo(src='/img/EPIC-Logo-Primary-nosub.png')
  h2.text-center Startup Career Fair
  hr
  h2.text-center Talent Portal
  p.text-center.bg-success(ng-show='isAdmin') 
    | admin mode!
  .top-fix(ng-hide='edit')
    .form-group(ng-init='search = {}')
      label.control-label(for='nameFilter') Name
      input.form-control(ng-model='search.name', type='text', placeholder='filter...', id='nameFilter')
      br
      label.control-label(for='majorFilter') Major
      input.form-group.form-control(ng-model='search.major', type='text', placeholder='filter...', id='majorFilter')
      br
      label.control-label(for='minorFilter') Minor
      input.form-group.form-control(ng-model='search.minorAndCerts', type='text', placeholder='e.g.; EE, economics', id='minorFilter')
      br
      input(ng-model='include.international', type='checkbox', checked, id='internationalFilter')
      label.control-label(for='internationalFilter') &nbsp;Exclude international students?
      br
      input(ng-model='include.needsVisa', type='checkbox', checked, id='visaFilter')
      label.control-label(for='visaFilter') &nbsp;Exclude students requiring visa sponsorship?