include header

.main.col-xs-12.col-sm-8.col-md-9
  div(ng-hide='loadedApps')
    p Loading...

  div(style='position: fixed; bottom: 0px; left: 0px; padding: 5px 0; background-color: white; z-index: 2; box-shadow: 0px -2px 4px -3px rgba(255,0,0,0.5); width: 100%; text-align: center;', ng-show='loadedApps') Results: {{dbSize}}

  div(ng-show='apps.length == 0').alert.alert-danger.text-center
    p No results!
  div(ng-repeat='app in (apps | filter:include:filterInclude)')
    //name, year, major, industries, technical, design, business, engineering, linkedin, email, minorAndCerts, international, needsVisa
    .col-xs-12
      h3.name {{toUpperCase(app.raw.name.first)}} {{toUpperCase(app.raw.name.last)}}
        small &nbsp;&nbsp;
          a(href='mailto:{{app.raw.email}}'){{app.raw.email}}
      h3(ng-show='isAdmin') | {{app._id}}
      hr
      button.btn.btn-warning.pull-right(ng-click='editPage(app._id)', ng-show='isAdmin') Edit
    .col-xs-12.col-md-6
      .col-xs-6
        h4 Year
        p.year {{app.raw.year == "other" ? app.raw.yearOtherExplanation : app.raw.year}}
      .col-xs-6
        h4 Major
        p.major {{app.raw.major | camelToHuman}}
    .col-xs-12.col-sm-6
      p.international
        strong International student?
        &nbsp;{{app.raw.international ? "Yes" : "No"}}
    .col-xs-12.col-sm-6(ng-show='{{!!app.raw.resume}}')
      p
        strong Resume
        br
        a(href='{{app.raw.resume.url}}') {{app.raw.resume.filename}}

  .buttons(ng-show='loadedApps', style='margin: 20px 0 30px 0').col-xs-12
    button.btn.btn-primary(ng-click='nextPage()', ng-disabled='!apps.length || apps.length >= dbSize') Load More!
    button.btn.btn-warning.pull-right(ng-click='loadAll()', ng-disabled='!apps.length || apps.length >= dbSize') Load All (might take some time)
