doctype html
html(lang='en', ng-app='EPIC-talent-portal')
  head
    title EPIC Talent Portal
    
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/jquery/dist/jquery.min.js')
    script(type="text/javascript", src="//api.filepicker.io/v1/filepicker.js")
    script(src='/js/angular/EPIC-talent-portal.js')
    
  body

    if(req)
      ng-view(ng-init='req = #{req};')
    else
      ng-view
 
    script.
      var filters = $('.top-fix');
      var cacheWidth = $('header').width();
      var subhead2 = $($('h2')[1]);
      
      function atElement(el, f, atbottom, reverse){
        var t = atbottom === undefined ? 0 : $(el).height();
        var reverse = reverse === undefined ? false : true;
        var pos = window.scrollY, off = $(el).offset().top+t;
        if ((reverse && pos <= off) || (!reverse && pos >= off)) f();
      }
      
      if(!!filters[0]) {
        $(window).scroll(function(e) {
          atElement(filters, function() {
            filters.css({position:'fixed', top:'0', width: cacheWidth});
          });

        $(window).resize(function(e) {
          cacheWidth = $('header').width();
        });
          atElement(subhead2, function() {
            filters.removeAttr('style');
          }, 'at bottom', 'in reverse');
        });
      }
      