doctype 5
html(ng-app='EPIC-talent-portal')
  head
    title= title
    
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css');
    script(src='/components/angular/angular.js');
    script(src='/components/angular-bootstrap/ui-bootstrap-tpls.js');
    script(src='/components/angular-route/angular-route.js');
    script(src='/components/jquery/dist/jquery.min.js');
    script(src='/js/angular/EPIC-talent-portal.js')
    
  body
  
    header.col-xs-12.col-sm-3
      img.logo(src='/img/EPIC-Logo-Primary-nosub.png')
      h2.text-center Startup Career Fair
      hr
      h2.text-center Talent Portal
      .top-fix
        .form-group(ng-init='search = {}')
          label.control-label(for='nameFilter') Name
          input.form-control(ng-model='search.name', type='text', placeholder='filter...', id='nameFilter')
          br
          label.control-label(for='majorFilter') Major
          input.form-group.form-control(ng-model='search.major', type='text', placeholder='filter...', id='majorFilter')
          br
          label.control-label(for='minorFilter') Minor
          input.form-group.form-control(ng-model='search.minorAndCerts', type='text', placeholder='filter...', id='minorFilter')
          br
          input(ng-model='include.international', type='checkbox', checked, id='internationalFilter')
          label.control-label(for='internationalFilter') &nbsp;Exclude international students?
          br
          input(ng-model='include.needsVisa', type='checkbox', checked, id='visaFilter')
          label.control-label(for='visaFilter') &nbsp;Exclude students requiring visa sponsorship?
    
    .main.col-xs-12.col-md-9
      ng-view
      
    script.
      var filters = $('.top-fix');
      var cacheWidth = filters.width();
      var subhead2 = $($('h2')[1]);
      
      function atElement(el, f, atbottom, reverse){
        var t = atbottom === undefined ? 0 : $(el).height();
        var reverse = reverse === undefined ? false : true;
        var pos = window.scrollY, off = $(el).offset().top+t;
        if ((reverse && pos <= off) || (!reverse && pos >= off)) f();
      }
      
      $(window).scroll(function(e) {
        atElement(filters, function() {
          filters.css({position:'fixed', top:'0', width: cacheWidth});
        });
        
      $(window).resize(function(e) {
        cacheWidth = filters.width();
      });
        atElement(subhead2, function() {
          filters.removeAttr('style');
        }, 'at bottom', 'in reverse');
      });
      