doctype html
html(lang='en', ng-app='EPIC-talent-portal')
  head
    title EPIC Talent Portal
    
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/jquery/dist/jquery.min.js')
    script(type="text/javascript", src="//api.filepicker.io/v1/filepicker.js")
    script(src='/js/angular/EPIC-talent-portal.js')
    
  body

    if(req)
      ng-view(ng-init='req = #{req};')
    else
      ng-view
 
    script.
      setTimeout(100, function() {
        console.log("setup");
        
      });
      