html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

header  {
  position: absolute;
  padding: 20px;
  height: 100%;
  width: 25%;
  display: block;
}

a {
  color: #00B7FF;
}

.main {
  z-index: 0;
  padding: 20px;
}

.top-fix {
  padding-top: 50px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,0.1);
  transition: all ease 0.5s;
}

label {
  display: inline !important;
}

.logo {
  width: 100%;
  display: inline-block;
}
